<table class="table table-bordered table-condensed table-stripped">
    <thead>
    <tr>
        <th>S.No.</th>
        <th class="center">
            <label>
                <input type="checkbox" checked="true" class="select_all">
                <span class="lbl"></span>
            </label>
        </th>
        <th>AWB</th>
        <th>Order Id</th>
        <th>Client</th>
        <th>Category</th>
        <th>Status</th>
        <th>Current Branch</th>
        <th>Delivery Branch</th>
    </tr>
    </thead>
    <tbody>
    {% for awb in awbs %}
        <tr id="{{ awb.pk }}">
            <td>{{ forloop.counter }}
            <td class="center">
                <label>
                    <input type="checkbox" checked="true" id="{{ awb.pk }}">
                    <span class="lbl"></span>
                </label>
            </td>
            <td>{{ awb.awb }}</td>
            <td>{{ awb.order_id }}</td>
            <td>{{ awb.awb_status.manifest.client }}</td>
            <td>{{ awb.get_readable_choice }}</td>
            <td>{{ awb.awb_status.get_readable_choice }}</td>
            <td>{{ awb.awb_status.current_branch }}</td>
            <td>{{ awb.pincode.branch_pincode.branch.branch_name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>