{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
    <div class="page-header position-relative">
        {% if url %}
            <a href="{{ url }}">
                <button type="button" class="btn btn-purple btn-small pull-right">Create {{ model|upper }}</button>
            </a>
        {% endif %}
        <h1>{{ model|upper }}
            <small><i class="icon-double-angle-right"></i> {{ type |title }} </small>
        </h1>
    </div>

    <!--/.page-header-->
    <div class="row-fluid">
        <div class="span12">
            <!--PAGE CONTENT BEGINS-->
            <div class="row-fluid">
                <div class="span12">
                    {% render_table table %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}