<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Nuvo Logistics System{% endblock %}</title>
    <meta name="description" content="Static &amp; Dynamic Tables"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>
    <!--basic styles-->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    {#    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet"/>#}
    <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
    {#    <link rel="stylesheet" href="/static/css/bootstrap-timepicker.css"/>#}
    <!--[if IE 7]>
		<link rel="stylesheet" href="/static/css/font-awesome-ie7.min.css" />
	<![endif]-->
    <!--page specific plugin styles-->
    <!--fonts-->
    <!--ace styles-->
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/ace.min.css"/>
    {#    <link rel="stylesheet" href="/static/css/ace-responsive.min.css"/>#}
    {#    <link rel="stylesheet" href="/static/css/ace-skins.min.css"/>#}
    <!--[if lte IE 8]>
		<link rel="stylesheet" href="/static/css/ace-ie.min.css" />
	<![endif]-->
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        {% block breadcrumbs %}
            {% include "breadcrumbs.html" %}
        {% endblock %}
    </div>
    <div class="page-content">
        {% block content %}{% endblock %}
    </div>
</div>
<script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
{#<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>#}
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
{#<script type="text/javascript" src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>#}
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<!--page specific plugin scripts-->
<!--[if lte IE 8]>
		<script src="/static/js/excanvas.min.js"></script>
<![endif]-->
{#<script src="/static/js/jquery.ui.touch-punch.min.js"></script>#}
{#<script src="/static/js/jquery.slimscroll.min.js"></script>#}
{#<script src="/static/js/jquery.easy-pie-chart.min.js"></script>#}
{#<script src="/static/js/jquery.sparkline.min.js"></script>#}
{#<script src="/static/js/flot/jquery.flot.min.js"></script>#}
{#<script src="/static/js/flot/jquery.flot.pie.min.js"></script>#}
{#<script src="/static/js/flot/jquery.flot.resize.min.js"></script>#}
<!--ace scripts-->
<script src="/static/js/ace-elements.min.js"></script>
<script src="/static/js/ace.min.js"></script>
{#<script src="/static/js/date-time/bootstrap-timepicker.min.js"></script>#}
{#<script type="text/javascript"#}
{#        src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">#}
{#</script>#}
{#<script type="text/javascript" src="/static/js/date-time/bootstrap-datetimepicker.min.js"></script>#}
<script type="text/javascript" src="/static/js/transit.js"></script>
{#<script type="text/javascript"#}
{#        src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">#}
{#</script>#}
</body>
</html>
