<ul class="breadcrumb">
    <li>
        <i class="icon-home home-icon"></i>
        <a href="#">Home</a>

        <span class="divider"> <i class="icon-angle-right arrow-icon"></i> </span>
    </li>
    <li class="active">
        Dashboard
    </li>
</ul>
<!--.breadcrumb-->

<div class="nav-search" id="nav-search">

    <form class="form-search" id="search_awb" method="GET" action="/transit/search">

        <a id="advanced_search" style="float: left" onclick="window.location.pathname='/transit/search/advanced_search'">advanced search</a>

			    <span class="input-icon">
					<input type="text" placeholder="Search AWB ..." class="input-small nav-search-input"
                           id="nav-search-input" autocomplete="off" name="awb"/>
							<i class="icon-search nav-search-icon"></i>
                            <input type="submit" value="Search" class="btn btn-small">
                </span>
    </form>
</div>