<div class="row-fluid" style="margin-top:10px">
    <div class="span12">
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-bordered table-condensed table-stripped">
                    <tr>
                        <th>S.No.</th>
                        <th class="center">
                            <label>
                                <input type="checkbox" checked="true">
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th>AWB</th>
                        <th>Pincode</th>
                    </tr>
                    {% for awb in awbs %}
                        <tr id="{{ awb.pk }}">
                            <td>{{ forloop.counter }}</td>
                            <td class="center">
                                <label>
                                    <input type="checkbox" checked="true" id="{{ awb.pk }}">
                                    <span class="lbl"></span>
                                </label>
                            </td>
                            <td>{{ awb.awb }}</td>
                            <td>{{ awb.pincode }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
