<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}NuvoEx Logistics Invoice{% endblock %}</title>
    <meta name="description" content="Static &amp; Dynamic Tables"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>
    <!--basic styles-->
    <style>
        * {
            margin: 0px 0px;
        }

        body {
            display: block;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        #wrapper {
            width: 1000px;
            display: block;
        }

        header {
            display: block;
        }

        .logo {
            float: left;
        }

        .address {
            font-size: 14px;
            float: right !important;

        }

        .heading {

        }
    </style>
</head>
<body>
<div id="wrapper">
    <header>
        <div class="logo"><img src="/static/img/logo.png" style="height: 100px"></div>
        <div class="address">
            <p>
                Nuvo Logistics Pvt Ltd<br/>
                LGF 25-26E, Sushant Shopping Arcade<br/>
                Sushant Lok-1, Gurgaon 122002<br/>
                Ph: +91 124 4040288
            </p>
        </div>
        <div class="heading"><h2>NUVOEX REVERSE PICKUP SHEET</h2></div>
    </header>
    <br>

    <table border="0" width="100%">
        <tr class="datarow">
            <td width="12%">Client Name</td>
            <td width="10%"></td>
            <td width="10%"></td>
            <td width="12%">AWB No.</td>
            <td width="10%"/>
            <td width="10%"/>
            <td width="12%">Branch</td>
            <td width="10%"/>
            <td width="10%"/>
        </tr>
        <tr class="datarow">
            <td width="12%">Date</td>
            <td/>
        </tr>
    </table>
    <table border="1" width="100%">
        <tr class="datarow">
            <td width="30%"><b>Order No</td>
            <td width="70%"><b>Customer Address</td>
        </tr>
        <tr class="datarow">
            <td height="100"></td>
            <td height="100"></td>
        </tr>
    </table>
    <br>
    <table border="0" width="100%">
        <tr class="datarow">
            <td width="12%">Items Details</td>
            <td width="10%"></td>
            <td width="10%"></td>
            <td width="12%"></td>
            <td width="10%"/>
            <td width="10%"/>
            <td width="12%"></td>
            <td width="20%">as told by customer</td>
        </tr>
        <tr>
        </tr>
        <tr class="datarow">
            <td>Total Pieces</td>
            <td></td>
            <td colspan="2">Reason for return</td>
            <td colspan="4"></td>
        </tr>
        <tr class="datarow">
            <td>Condition</td>
            <td colspan="7"></td>
        </tr>
        <tr class="datrow">
            <td>Mobile</td>
            <td colspan="7"></td>
        </tr>
        <tr>
            <td colspan="8"></td>
        </tr>
        <tr>
            <td colspan="8"></td>
        </tr>
        <tr>
            <td colspan="8"></td>
        </tr>
        <tr>
            <td colspan="8"></td>
        </tr>
        <tr>
            <td colspan="8"></td>
        </tr>
        <tr>
            <td colspan="8"></td>
        </tr>
        <tr>
            <td colspan="8"></td>
        </tr>
        <tr class="datarow">
            <td colspan="2">Field executive Sign</td>
            <td colspan="4"></td>
            <td colspan="2">Customer Sign</td>
        </tr>
    </table>
</div>
</body>
</html>