{% if awbs.count > 0 %}
    <table class="table table-bordered table-condensed table-stripped">
        <thead>
        <tr>
            <th>S.No.</th>
            <th>AWB</th>
            <th>Order Id</th>
            <th>Update Status</th>
            <th>Remarks</th>
            <th>Reason</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for awb in awbs %}
            <tr id="{{ awb.pk }}">
                <td>{{ forloop.counter }}
                <td><a href="/transit/awb/{{ awb.pk }}" target="_blank">{{ awb.awb }}</a></td>
                <td>{{ awb.order_id }}</td>
                <td>
                    <select name="status" id="status">
                        <option value="{{ awb.awb_status.status }}"
                                style="display: none">{{ awb.awb_status.get_readable_choice }}</option>
                        <option value="SCH">Scheduled</option>
                        <option value="CAN">Cancelled</option>
                        <option value="DBC">Deferred by Customer</option>
                        <option value="CNA">Customer not Available</option>
                        {% if awb.category != 'REV' %}
                            <option value="RET">Returned</option>
                        {% endif %}
                    </select>
                </td>
                <td>
                    <select name="remark" id="remark">
                        <option value="{{ awb.awb_status.remark }}" style="display: none"
                                selected>{{ awb.awb_status.remark }}</option>
                        {% if awb.category == 'REV' %}
                            {% for k,v in awb_rl_remarks %}
                                <option value="{{ k }}">{{ v }}</option>
                            {% endfor %}
                        {% else %}
                            {% for k,v in awb_fl_remarks %}
                                <option value="{{ k }}">{{ v }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </td>
                <td><input type="text" name="reason" id="reason_{{ awb.pk }}" value="{{ awb.awb_status.reason }}"></td>
                <td>
                    <button class="btn btn-info btn-small" type="button">
                        Save
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <h4 class="blue">No AWB found</h4>
{% endif %}