{% extends "base.html" %}
{% block content %}
    <div class="page-header position-relative">
        {#        <a href="javascript:void(0)" class="pull-right">#}
        {#            <button type="button" class="btn btn-info" id="get_awb_invoice">Download Invoice</button>#}
        {#        </a>#}

        <h1> Generate MIS
            {#            <small><i class="icon-double-angle-right"></i> Select AWBs to Print Invoice</small>#}
        </h1>
    </div>

    <div class="widget-main">
        <form class="form-inline" role="form" method="post" id="create_mis_form">{% csrf_token %}
            <label class="center">Client</label>
            <select name="client">
                <option selected style="display: none"></option>
                {% for client in clients %}
                    <option value="{{ client.client_code }}">{{ client.client_name }}</option>
                {% endfor %}
            </select>
            <label class="center">Start Date</label>
            
            <div id="start_date" class="input-append">
                <input data-format="yy-mm-dd" type="text" name="start_date">
                {#                    <span class="add-on">#}
                {#                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">#}
                {#                      </i>#}
                {#                    </span>#}
            </div>
            <label class="center">End Date</label>

            <div id="end_date" class="input-append">
                <input data-format="yy-mm-dd" type="text" name="end_date">
                {#                    <span class="add-on">#}
                {#                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">#}
                {#                      </i>#}
                {#                    </span>#}
            </div>
            <button class="btn btn-info btn-small" type="submit">
                <i class="icon-ok bigger-110"></i>
                Submit
            </button>
            <button class="btn btn-info btn-small" type="button" onclick="generate_mis()">
                <i class="icon-ok bigger-110"></i>
                Export
            </button>
        </form>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {% include "awb/awb_table.html" %}
        </div>
    </div>
{% endblock %}
