<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Nuvo Logistics System{% endblock %}</title>
    <meta name="description" content="Static &amp; Dynamic Tables"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>
    <!--basic styles-->
    <link href="/static/css/reverse_print_sheet.css" rel="stylesheet"/>
</head>
<body>
<div id="wrapper">
    <header>
        <div class="heading"><h2>REVERSE PICKUP LIST</h2></div>
    </header>
    <table id="table1" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th width="10px">Sr.No.</th>
            <th>Bar Code</th>
            {#            <th width="200px">AWB No:</th>#}
            <th width="300px">Address</th>
            <th width="50px">Pincode</th>
        </tr>
        </thead>
        <tbody>
        {% for awb in awbs %}
            <tr>
                <td>{{ forloop.counter }} </td>
                <td><img src="/static/barcodes/{{ awb.awb }}.png"></td>
                {#                <td>{{ awb.awb }} </td>#}
                <td>{{ awb.get_full_address }} </td>
                <td> {{ awb.pincode.pincode }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
