{% extends 'base.html' %}
{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h4 class="blue">AWB Details</h4>

            <div class="row-fluid">
                <div class="span12">
                    <table class="table table-bordered table-condensed table-stripped">
                        <tbody>
                        <tr>
                            <th>AWB</th>
                            <td>{{ awb_details.awb }}</td>
                        </tr>
                        <tr>
                            <th>Order Id</th>
                            <td>{{ awb_details.order_id }}</td>
                        </tr>
                        <tr>
                            <th>Client</th>
                            <td>{{ awb_details.awb_status.manifest.client.client_name }}</td>
                        </tr>
                        <tr>
                            <th>Customer Name</th>
                            <td>{{ awb_details.customer_name }}</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>{{ awb_details.address_1 }}, {{ awb_details.address_2 }}, {{ awb_details.city }}</td>
                        </tr>
                        <tr>
                            <th>Pincode</th>
                            <td>{{ awb_details.pincode }}</td>
                        </tr>
                        <tr>
                            <th>Contact</th>
                            <td>{{ awb_details.phone_1 }} , {{ awb_details.phone_2 }}</td>
                        </tr>
                        <tr>
                            <th>Category</th>
                            <td>{{ awb_details.get_readable_choice }}</td>
                        </tr>
                        {% if awb_details.category == 'COD' %}
                            <tr>
                                <th>COD Amount</th>
                                <td>Rs. {{ awb_details.expected_amount }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

            <h4 class="blue">AWB History</h4>

            <div class="row-fluid">
                <div class="span12">
                    <table class="table table-bordered table-condensed table-stripped">
                        <thead>
                        <tr>
                            <th>History</th>
                            <th>Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for k,v in awb_hist.items %}
                            <tr>
                                <td>{{ v.status }}</td>
                                <th>{{ v.time }}</th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}