{% extends "base.html" %}
{% block content %}
    <div class="page-header position-relative" id="manifest_header">
        <h1> AWB
            <small><i class="icon-double-angle-right"></i> Filters</small>
        </h1>
    </div>
    <div class="row-fluid">
        <div class="span12 table-responsive">
            <div id="get_message"></div>
            <div class="widget-main">
                <form class="form-inline" role="form" method="post" id="awb_report_cc_form">{% csrf_token %}
                    <label class="center">Client</label>
                    <select name="client" id="client">
                        <option selected style="display: none"></option>
                        {% for client in clients %}
                            <option value="{{ client.client_code }}">{{ client.client_name }}</option>
                        {% endfor %}
                    </select>
                    <label class="center">Status</label>
                    <select name="status" id="status">
                        <option value="" style="display: none"></option>
                        {% for k,v in status %}
                            <option value="{{ k }}">{{ v }}</option>
                        {% endfor %}
                    </select>
                    <label class="center">Start Date</label>

                    <div id="start_date" class="input-append">
                        <input data-format="yyyy-MM-dd" type="text" name="start_date" class="input-small">
                        {#                    <span class="add-on">#}
                        {#                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">#}
                        {#                      </i>#}
                        {#                    </span>#}
                    </div>
                    <label class="center">End Date</label>

                    <div id="end_date" class="input-append">
                        <input data-format="yyyy-MM-dd" type="text" name="end_date" class="input-small">
                        {#                    <span class="add-on">#}
                        {#                      <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>#}
                        {#                    </span>#}
                    </div>
                    <button class="btn btn-info btn-small" type="submit">
                        <i class="icon-ok bigger-110"></i>
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 table-responsive" id="awb_table_cc"></div>
    </div>
{% endblock %}